<div class="row justify-content-center pt-5 section-four" id="section-four">
    <div class="col col-lg-10 col-md-10 col-sm-10">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 text-center">
                <p class="about-text">"Dividers can be added to lists as a means of separating content into distinct
                    sections. Inset dividers can also be added to provide the appearance of distinct elements in a list
                    without
                    cluttering content like avatar images or icons. Make sure to avoid adding an inset divider to the
                    last element in a list, because it will overlap with the section divider."
                </p>
            </div>
        </div>
        <div class="row justify-content-around mt-5 pt-4 about-us-options-div">
            <div class="col col-lg-3 col-md-3 col-sm-3 text-center p-3 about-us-box">
                <div class="row">
                    <div class="col p-0">
                        <i class="material-icons about-us-icons">touch_app</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <p class="about-us-options-heading">Select</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-10 col-md-10 col-sm-10 about-us-options-col">
                        <p class="about-us-options-text">
                            Inset dividers can also be added to provide the appearance of distinct elements in a list
                            without
                            cluttering content like avatar images or icons. Make sure to avoid adding an inset divider.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-3 text-center p-3 about-us-box">
                <div class="row">
                    <div class="col p-0">
                        <i class="material-icons about-us-icons">bubble_chart</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <p class="about-us-options-heading">Customize</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-10 col-md-10 col-sm-10 about-us-options-col">
                        <p class="about-us-options-text">
                            Inset dividers can also be added to provide the appearance of distinct elements in a list
                            without
                            cluttering content like avatar images or icons. Make sure to avoid adding an inset divider.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-3 text-center p-3 about-us-box">
                <div class="row">
                    <div class="col p-0">
                        <i class="material-icons about-us-icons">vpn_key</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <p class="about-us-options-heading">Move-in</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-10 col-md-10 col-sm-10 about-us-options-col">
                        <p class="about-us-options-text">
                            Inset dividers can also be added to provide the appearance of distinct elements in a list
                            without
                            cluttering content like avatar images or icons. Make sure to avoid adding an inset divider.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>