<div class="row justify-content-center pt-5 section-four" id="section-four">
    <div class="col col-lg-10 col-md-10 col-sm-10">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 about-us-headline px-5">
                <p class="about-text">"Blue Haven is an avant-garde innovation in the domain of renting and housing. At Blue Haven, we believe that customer satisfaction is of the highest priority. Blue Haven is a non-brokerage firm which lets you revel in the privacy of flats without having to bind to the norms  of PG’s.
                        If you’re a corporate employee looking for a comfortable home which comes with customisable furnishing and privacy at affordable prices, then Blue Haven’s the right place for you."
                </p>
            </div>
        </div>
        <div class="row justify-content-around mt-2 pt-4 about-us-options-div">
            <div class="col col-lg-3 col-md-3 col-sm-3 text-center p-3 about-us-box">
                <div class="row">
                    <div class="col p-0">
                        <i class="material-icons about-us-icons">touch_app</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <p class="about-us-options-heading">Select</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-10 col-md-10 col-sm-10 about-us-options-col">
                        <p class="about-us-options-text">
                                Blue Haven lets you choose from a wide variety of options based on the features and facilities our buildings offer. We allow you to choose your ideal home as per your requirements and budget.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-3 text-center p-3 about-us-box">
                <div class="row">
                    <div class="col p-0">
                        <i class="material-icons about-us-icons">bubble_chart</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <p class="about-us-options-heading">Customize</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-10 col-md-10 col-sm-10 about-us-options-col">
                        <p class="about-us-options-text">
                                Blue Haven takes the concept of customization a step ahead by allowing you to equip your homes with lavish and utilitarian furnishing. Every customer is unique with their set of demands or needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-3 text-center p-3 about-us-box">
                <div class="row">
                    <div class="col p-0">
                        <i class="material-icons about-us-icons">vpn_key</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <p class="about-us-options-heading">Move-in</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-10 col-md-10 col-sm-10 about-us-options-col">
                        <p class="about-us-options-text">
                                Blue Haven does the spadework of customisation on the flat of your liking and presents to you at the price mentioned in the website with no extra or heading charges.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>