<div class="row section-one" id="section-one">
    <div class="col px-3">
        <div class="row section-header">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
                    <a class="pt-0 pb-1 ml-3" [routerLink]="['']"><img class="header-logo"
                            src="../../../assets/images/logo.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <img src="../../../assets/images/new.gif" class="new-feature-image mr-2"/>
                                <a class="nav-text" (click)="openModel()">Storage Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-text"
                                    onclick="document.getElementById('section-three').scrollIntoView({behavior: 'smooth', block: 'center'})">Properties</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-text"
                                    onclick="document.getElementById('section-four').scrollIntoView({behavior: 'smooth', block: 'center'})">About
                                    us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-text"
                                    onclick="document.getElementById('section-six').scrollIntoView({behavior: 'smooth', block: 'center'})">Contact
                                    us</a>
                            </li>
                            <li>
                                <a>
                                    <button class="btn btn btn-outline-primary btn-request-demo" onclick="document.getElementById('section-two').scrollIntoView({behavior: 'smooth', block: 'center'})">Looking for
                                        home?</button>
                                </a>
                            </li>
                        </ul>

                    </div>
                </nav>

            </div>
        </div>
        <div class="row section-content align-items-center justify-content-center">
            <div class="col col-lg-6 col-md-6 col-sm-6 p-0 section-content-col">
                <div class="row container-fluid justify-content-center m-auto new-feature-panel">
                    <div class="col col-lg-1 col-md-1 col-sm-1 text-center p-2">
                        <img src="../../../assets/images/new.gif" class="new-feature-image-mob mr-2"/>
                        <a class="nav-text" (click)="openModel()">Storage Services</a>
                    </div>
                </div>               
                <div class="row container-fluid justify-content-center opac-cont m-auto section-content-inner p-5">
                        <div class="col col-lg-3 col-md-3 col-sm-3 align-self-center">
                                <img class="content-logo"
                                src="../../../assets/images/logo-h.png" />
                        </div>
                        <div class="col col-lg-8 col-md-8 col-sm-8">
                            <div class="flex mt-3 typing-word">
                                <p class="header-sub-title" id="word"></p>
                                <p class="header-sub-title blink" *ngIf="!hideblink">|</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>