.storage-first-row {
  height: 608px;
}

.storage-first-left {
  background-color: #001439;
}

.storage-first-right {
  background-image: url("./../../assets/images/Storage_first_right_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.storage-first-right-img {
  width: inherit;
  height: 70vh;
}

.storage-first-left-logo {
  height: 18px;
  width: 160px;
}

.nav-bar-row-opc {
  background: linear-gradient(180.03deg, #000000 -15%, rgba(0, 0, 0, 0) 60%);
  // opacity:0.2;
  position: relative;
  padding-bottom: 3.2rem !important;
}

.nav-bar-row {
  position: absolute;
}

.nav-btns {
  padding: 2px 30px;
  color: white;
  cursor: pointer;
  // font-family: Roboto, sans-serif;
  font-family: Avenir;
}

.storage-first-left-text-white,
.storage-first-left-text-blue {
  color: white;
  font-size: 40px;
}

.storage-first-left-text-blue {
  color: #45c7f2;
}

.storage-first-left-text-small {
  color: white;
  max-width: 90%;
}

.btn-submit {
  width: 145px;
  height: 42px;
  background: #45c7f2;
  border-radius: 0;
}

.storage-second-row {
  height: 880px;
  background: linear-gradient(180deg, white 50%, #f1f1f1 50%);
}

.storage-second-title-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: #001439;
}

.storage-second-boxes-img {
  width: 560px;
  height: 372px;
}

.target-text {
  color: #45c7f2;
  display: inline;
}

.sub-points-heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 117.6%;
  color: #001439;
  margin-bottom: 10px;
}

.sub-points-content {
  font-size: 18px;
  color: #2d2d2d;
}

.storage-third-row {
  background-color: #001439;
  height: 608px;
}

.storage-third-img {
  width: 464px;
  height: 445px;
}

.storage-third-heading {
  color: #45c7f2;
}

.circle-number {
  width: 36px;
  height: 36px;
  padding-top: 5px;
  border-radius: 50%;
  background: white;
}

.circle-number-title {
  color: white;
  font-size: 24px;
  margin-bottom: 0;
}

.circle-number-content {
  color: white;
  font-size: 15px;
}

.storage-fourth-title-text {
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  line-height: 120%;
}

.storage-price-plans {
  height: 304px;
  min-width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 24px;
  transition: all 200ms ease-in-out;
  align-items: center;
  cursor: pointer;
}

.storage-price-plans:hover {
  border: 3px solid black;
}

.price-plan-name {
  font-weight: bold;
  font-size: 20px;
}

.price-plan-desc {
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.price-plan-link {
  font-size: 16px;
  color: #00b0ff;
}

.price-plan-link-icon {
  font-size: 17px;
  vertical-align: middle;
}

.storage-fifth-row {
  height: 704px;
  background: #f1f1f1;
}

.video-image {
  width: 548px;
  height: 444px;
  border: 1px solid lightgray;
}

.video-text {
  font-weight: bold;
  font-size: 48px;
  line-height: 119%;
  width: 500px;
  color: #091d40;
}

.video-text-name {
  font-weight: bold;
  font-size: 20px;
  color: #091d40;
  margin-left: 8px;
}

.video-text-title {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #091d40;
  margin-left: 12px;
}

.storage-sixth-row {
  height: 700px;
}

.storage-sixth-title-text {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #091d40;
}

.storage-faq-div {
  height: 400px;
  max-height: 450px;
  overflow: scroll;
}

.faq-panels {
  box-shadow: none;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.faq-panels .mat-expansion-panel-header:hover {
  background: none !important;
}

.storage-seventh-row {
  height: 400px;
  background-color: #001439;
}

.contact-us-title {
  color: #45c7f2;
  font-size: 18px;
}

.contact-us-details {
  color: white;
  font-size: 16px;
}

.contact-us-details p {
  margin-bottom: 0;
}

.border-btm {
  height: 1px;
  border-top: 1px solid #45c7f2;
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li {
  background-color: gray;
}

.carousel-indicators li.active {
  background-color: #091d40;
}

.link-fixed-btns {
  position: fixed;
  bottom: 50px;
  z-index:1;
  right: 50px;
  display: grid;
}

.wa-link-btn {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: none;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  flex-shrink: 0;
}

.fill-form-btn {
  background-color: #45c7f2;
  -webkit-animation-name: bounce;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.fill-form-btn:focus {
  outline: none;
}

::ng-deep .tooltip-ui {
  min-height: 30px;
  background: #001439;
  color: white;
  font-size: 14px;
}

@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

.circle-number-title,
.circle-number-content {
  width: 290px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {
  .storage-ui {
    display: none;
  }
  .storage-ui-mob {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
  .storage-ui {
    display: none;
  }
  .storage-ui-mob {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .storage-ui {
    display: none;
  }
  .storage-ui-mob {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .storage-ui {
    display: block;
  }
  .storage-ui-mob {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .storage-ui {
    display: block;
  }
  .storage-ui-mob {
    display: none;
  }
}
