<div class="container-fluid">
  <!-- First section -->
  <div class="row storage-first-row">
    <div class="col col-lg-6 col-md-6 col-sm-6 storage-first-left">
      <div class="row p-4 px-5">
        <div class="col">
          <img
            src="../../assets/images/logo_white.png"
            class="storage-first-left-logo"
          />
        </div>
      </div>
      <div class="row justify-content-center align-items-center h-75">
        <div class="col col-lg-9 col-md-9 col-sm-9">
          <div class="row">
            <div
              class="col col-lg-12 col-md-12 col-sm-12 storage-first-left-text-white"
            >
              Locked In The Endless
            </div>
            <div
              class="col col-lg-12 col-md-12 col-sm-12 storage-first-left-text-blue"
            >
              Rut Of Paying Full Rents?
            </div>
            <div
              class="col col-lg-12 col-md-12 col-sm-12 storage-first-left-text-small"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor,
              odio amet mauris lacus, id euismod. Nec quis odio non sed. Auctor
              tellus elit quam fusce.
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 pt-4">
              <button class="btn btn-submit mr-2">Submit</button>
              <button class="btn btn-submit mx-3">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-6 p-0 storage-first-right">
      <div class="row mx-0">
        <div class="col p-4 d-flex nav-bar-row-opc"></div>
        <div class="col p-4 d-flex nav-bar-row">
          <div class="nav-btns">Home</div>
          <div class="nav-btns">Find Place</div>
          <div class="nav-btns">Storage</div>
          <div class="nav-btns">Move Out Service</div>
          <div class="nav-btns">Contact</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second section -->
  <div class="row justify-content-center storage-second-row">
    <div class="col col-lg-10 col-md-10 col-sm-10">
      <div class="row justify-content-center">
        <div
          class="col col-lg-9 col-md-9 col-sm-9 text-center storage-second-title-text p-5 mt-5"
        >
          Title that wil explain what we do in a nutshell, Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-lg-9 col-md-9 col-sm-9 text-center">
          <img
            src="../../assets/images/boxes.png"
            class="storage-second-boxes-img"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col col-lg-12 col-md-12 col-sm-12 text-center d-flex pt-4">
          <div class="storage-second-sub-points pr-5 pl-2">
            <div class="sub-points-heading">Package</div>
            <div class="sub-points-content">
              Lorem ipsum dolor siconsectetur adipiscing elit. Tempo odio amet
              mauris lacus
            </div>
          </div>
          <div class="storage-second-sub-points px-5">
            <div class="sub-points-heading">Move</div>
            <div class="sub-points-content">
              Lorem ipsum dolor siconsectetur adipiscing elit. Tempo odio amet
              mauris lacus
            </div>
          </div>
          <div class="storage-second-sub-points pl-5 pr-2">
            <div class="sub-points-heading">Store</div>
            <div class="sub-points-content">
              Lorem ipsum dolor siconsectetur adipiscing elit. Tempo odio amet
              mauris lacus
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Third section -->
  <div class="row storage-third-row align-items-center">
    <div class="col col-lg-7 col-md-7 col-sm-7 px-0">
      <div class="row justify-content-center">
        <div class="col col-lg-9 col-md-9 col-sm-9 storage-third-heading px-0">
          Services We Offer
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col col-lg-9 col-md-9 col-sm-9 d-flex px-0">
          <div class="services-div d-flex my-2 mr-4">
            <div class="circle-number text-center mt-1">1</div>
            <div class="mx-3">
              <p class="circle-number-title">Title</p>
              <p class="circle-number-content">
                One line description goes here
              </p>
            </div>
          </div>
          <div class="services-div d-flex my-2 ml-4">
            <div class="circle-number text-center mt-1">2</div>
            <div class="mx-3">
              <p class="circle-number-title">Title</p>
              <p class="circle-number-content">
                One line description goes here
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-lg-9 col-md-9 col-sm-9 d-flex px-0">
          <div class="services-div d-flex my-2 mr-4">
            <div class="circle-number text-center mt-1">3</div>
            <div class="mx-3">
              <p class="circle-number-title">Title</p>
              <p class="circle-number-content">
                One line description goes here
              </p>
            </div>
          </div>
          <div class="services-div d-flex my-2 ml-4">
            <div class="circle-number text-center mt-1">4</div>
            <div class="mx-3">
              <p class="circle-number-title">Title</p>
              <p class="circle-number-content">
                One line description goes here
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-lg-9 col-md-9 col-sm-9 d-flex px-0">
          <div class="services-div d-flex my-2 mr-4">
            <div class="circle-number text-center mt-1">5</div>
            <div class="mx-3">
              <p class="circle-number-title">Title</p>
              <p class="circle-number-content">
                One line description goes here
              </p>
            </div>
          </div>
          <div class="services-div d-flex my-2 ml-4">
            <div class="circle-number text-center mt-1">6</div>
            <div class="mx-3">
              <p class="circle-number-title">Title</p>
              <p class="circle-number-content">
                One line description goes here
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-5 col-md-5 col-sm-5">
      <img src="../../assets/images/box-tape.png" class="storage-third-img" />
    </div>
  </div>

  <!-- Fourth Section -->
  <div class="row justify-content-center storage-fourth-row pb-5">
    <div class="col col-lg-10 col-md-10 col-sm-10">
      <div class="row justify-content-center">
        <div
          class="col col-lg-10 col-md-10 col-sm-10 text-center storage-fourth-title-text p-5 mt-5"
        >
          Lorem ipsum Consequat sit hendrerit malesuada pretium eleifend fusce
          id.
        </div>
      </div>
      <div class="row justify-content-center py-5">
        <div class="col col-lg-12 col-md-12 col-sm-12 d-flex">
          <div
            class="row storage-price-plans justify-content-center align-items-center text-center mr-3"
          >
            <div class="col">
              <div class="price-plan-name mb-3">Pricing Plan Name</div>
              <div class="price-plan-desc mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
              <div class="price-plan-link">
                Learn more
                <i class="material-icons price-plan-link-icon">arrow_forward</i>
              </div>
            </div>
          </div>
          <div
            class="row storage-price-plans justify-content-center align-items-center text-center mx-3"
          >
            <div class="col">
              <div class="price-plan-name mb-3">Pricing Plan Name</div>
              <div class="price-plan-desc mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
              <div class="price-plan-link">
                Learn more
                <i class="material-icons price-plan-link-icon">arrow_forward</i>
              </div>
            </div>
          </div>
          <div
            class="row storage-price-plans justify-content-center align-items-center text-center ml-3"
          >
            <div class="col">
              <div class="price-plan-name mb-3">Pricing Plan Name</div>
              <div class="price-plan-desc mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
              <div class="price-plan-link">
                Learn more
                <i class="material-icons price-plan-link-icon">arrow_forward</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fifth Section -->
  <div class="row justify-content-center align-items-center storage-fifth-row">
    <div class="col col-lg-6 col-md-6 col-sm-6 text-right">
      <img src="../../assets/images/video_mask.png" class="video-image" />
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-6 px-5">
      <div class="video-text mb-3">
        Lorem ipsum dolor sit amet, conctetur adipiscing Aliquam nascetur massa
        bibendum eget vitae dolor.
      </div>
      <div class="video-text-name">Vineet Gokavarapu</div>
      <div class="video-text-title">Software Developer</div>
    </div>
  </div>

  <!-- Sixth Section -->
  <div class="row justify-content-center storage-sixth-row">
    <div class="col col-lg-7 col-md-7 col-sm-7">
      <div class="row justify-content-center">
        <div
          class="col col-lg-9 col-md-9 col-sm-9 text-center storage-sixth-title-text p-5 mt-5"
        >
          Frequently Asked Questions
        </div>
      </div>
      <div class="row justify-content-center storage-faq-div">
        <div class="col col-lg-12 col-md-12 col-sm-12">
          <mat-accordion>
            <mat-expansion-panel
              *ngFor="let question of questions"
              class="faq-panels"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ question.ques }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{ question.ans }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>

  <!-- Seventh Section -->
  <div class="row storage-seventh-row justify-content-center">
    <div class="col col-lg-12 col-md-12 col-sm-12 px-5">
      <div class="row p-5">
        <div class="col col-lg-4 col-md-4 col-sm-4">
          <div class="contact-us-title mb-4 ml-1">Contact Us</div>
          <div class="contact-us-details d-flex my-3">
            <i class="material-icons mr-2">phone</i>
            <p>636-693-6633, 844-844-8646</p>
          </div>
          <div class="contact-us-details d-flex my-3">
            <i class="material-icons mr-2">email</i>
            <p>thebluhaven@gmail.com</p>
          </div>
          <div class="contact-us-details d-flex my-3">
            <i class="material-icons mr-2">location_pin</i>
            <p>Blue Haven Amber, 123, A. K. Nagar,<br/> Sarjapur Rd, Bangalore -
                560035.</p>
          </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-5">
          <div class="contact-us-title mb-3">Get Help</div>
          <div class="contact-us-details my-1">Privacy Policy</div>
          <div class="contact-us-details my-1">Terms & Conditions</div>
          <div class="contact-us-details my-1">Refunds</div>
          <div class="contact-us-details my-1">FAQs</div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
          <div class="contact-us-title mb-3">Let's Get In Touch</div>
          <div class="contact-us-details my-1"></div>
        </div>
      </div>
    </div>
    <div
      class="col col-lg-6 col-md-6 col-sm-6 align-items-end w-75 border-btm mt-5 pb-4 pt-2 text-center"
    >
      2020 All rights reserved.
    </div>
  </div>
</div>
