mat-chip-list, p {
    display: inline-block;
}
.mat-horizontal-content-container{
    padding:0 !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected, ::ng-deep .mat-step-icon-state-edit {
    background-color: brown !important;
}

::ng-deep .mat-progress-spinner circle, ::ng-deep .mat-spinner circle {
    stroke: brown;
}

::ng-deep .mat-standard-chip .mat-chip-remove.mat-icon {
    color:black;
}

/* ::ng-deep .mat-horizontal-content-container {
    overflow-x: hidden !important;
    overflow-y: auto !important;
} */

/* media query for mob */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ::ng-deep .mat-step-label {
        visibility: hidden;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ::ng-deep .mat-step-label {
        visibility: hidden;
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ::ng-deep .mat-step-label {
        visibility: hidden;
     }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ::ng-deep .mat-step-label {
        visibility: visible;
     }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ::ng-deep .mat-step-label {
        visibility: visible;
     }
}

@media (min-width: 1370px) { 
    ::ng-deep .mat-step-label {
        visibility: visible;
     }
}