<div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 text-right">
        <mat-icon class="cancel-btn" (click)="onNoClick()">cancel</mat-icon>
    </div>
</div>

<app-search-results *ngIf="data.type === 'search'" [data]="data" (closePopup)="onNoClick()"></app-search-results>
<app-video *ngIf="data.type === 'video'" [data]="data"></app-video>
<app-gallery *ngIf="data.type === 'gallery'" [data]="data"></app-gallery>
<app-location *ngIf="data.type === 'location'" [data]="data"></app-location>
<app-error *ngIf="data.type === 'error'"(closePopup)="onNoClick($event)" [data]="data"></app-error>