<div class="row">
  <div class="col text-right">
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!otpSent">
  <div class="col col-lg-11 col-md-11 col-sm-11">
    <div class="row mb-3">
      <div class="col">
        <mat-label><strong>Email*</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            class="input-box input-email"
            placeholder="Email"
            type="email"
            matInput
            [(ngModel)]="formFields.email"
            [class.verified]="getEmailVerified(formFields.email)"
            [class.error]="submitted && !formFields.email"
          />
          <mat-icon
            *ngIf="getEmailVerified(formFields.email)"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <mat-label><strong>First Name*</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            class="input-box input-names"
            matInput
            placeholder="First Name"
            type="text"
            [(ngModel)]="formFields.firstName"
            [class.verified]="formFields.firstName.length > 2"
            [class.error]="submitted && !formFields.firstName"
          />
          <mat-icon
            *ngIf="formFields.firstName.length > 2"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="col last-name-ui">
        <mat-label><strong>Last Name</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            class="input-box input-names"
            matInput
            placeholder="Last Name"
            type="text"
            [class.verified]="formFields.lastName.length > 2"
            [(ngModel)]="formFields.lastName"
          />
          <mat-icon
            *ngIf="formFields.lastName.length > 2"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="col last-name-mob mt-4">
        <mat-label><strong>Last Name</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            class="input-box input-names"
            matInput
            placeholder="Last Name"
            type="text"
            [class.verified]="formFields.lastName.length > 2"
            [(ngModel)]="formFields.lastName"
          />
          <mat-icon
            *ngIf="formFields.lastName.length > 2"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <mat-label><strong>Address*</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            matInput
            class="input-box input-address"
            placeholder="Address"
            type="text"
            [(ngModel)]="formFields.address"
            [class.verified]="formFields.address.length > 10"
            [class.error]="submitted && !formFields.address"
          />
          <mat-icon
            *ngIf="formFields.address.length > 10"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row my-4" [class.mb-5]="!otpSent || mobileVerified">
      <div class="col">
        <mat-label><strong>Mobile*</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            class="input-box input-mobile"
            placeholder="Mobile"
            type="tel"
            matInput
            maxlength="10"
            (keypress)="isNumberKey($event)"
            [(ngModel)]="formFields.mobile"
            [class.verified]="formFields.mobile.length === 10"
            [class.error]="
              (submitted && !formFields.mobile) || formFields.mobile.length < 10
            "
          />
          <mat-icon
            *ngIf="formFields.mobile.length === 10"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
          <p class="error-text my-2" *ngIf="formFields.mobile.length < 10">
            Mobile number should be of 10 digits
          </p>
        </mat-form-field>
      </div>
    </div>
    <mat-label class="mb-2"
      ><strong>What is the service you are looking for?*</strong></mat-label
    >
    <div class="row mb-4 mt-1">
      <div class="col d-flex">
        <div
          class="input-service mr-3 text-center pt-2"
          (click)="toggleSelectedService(1)"
          [class.input-service-selected]="selectedService === 1"
        >
          Pack move store intercity
        </div>
        <div
          class="input-service ml-3 text-center pt-2"
          (click)="toggleSelectedService(2)"
          [class.input-service-selected]="selectedService === 2"
        >
          Pack & send to home town
        </div>
      </div>
    </div>

    <mat-label><strong>Items*</strong></mat-label>
    <div class="row mb-5 mt-1 items-ui">
      <div class="col grid-col">
        <div
          class="items d-flex pt-2"
          *ngFor="let item of items"
          [class.verified]="item.count > 0"
          [class.error]="submitted && !formFields.selectedItems.length"
        >
          <div class="item-icon-div px-2">
            <img [src]="getSrcImg(item.name)" class="item-icon-img" />
          </div>
          <div class="item-count-div px-1">
            <p class="item-count">{{ item.count }}</p>
          </div>
          <div
            class="item-name-div pr-2 text-right"
            matTooltip="Tap to increase count"
            (click)="increaseCount(item)"
          >
            <p class="item-name">{{ item.name }}</p>
          </div>
          <div class="item-minus-div">
            <mat-icon
              matTooltip="Tap to decrease count"
              (click)="decreaseCount(item)"
              >remove</mat-icon
            >
          </div>
        </div>

        <div class="items d-flex pt-2 add-more-items" [class.opaq]="focused">
          <div class="item-icon-div px-2">
            <img [src]="getSrcImg(otherItem)" class="item-icon-img" />
          </div>
          <div class="item-count-div px-1">
            <p class="item-count">0</p>
          </div>
          <div
            class="item-name-div item-name-other-div text-right"
            matTooltip="Add other"
          >
            <input
              #otherItemDir
              (focus)="focused = true"
              (blur)="focused = false"
              maxlength="9"
              class="item-name item-name-input text-right"
              placeholder="Add other"
              [(ngModel)]="otherItem"
              (keydown.enter)="addOtherItem(otherItem); otherItemDir.blur()"
            />
          </div>
          <div>
            <mat-icon (click)="addOtherItem(otherItem); otherItemDir.blur()"
              >add</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
    <div class="items-ui-mob">
      <div class="col px-0">
        <div
          class="items-mob d-flex pt-2"
          *ngFor="let item of items"
          [class.verified]="item.count > 0"
          [class.error]="submitted && !formFields.selectedItems.length"
        >
          <div class="item-icon-div px-2 text-center">
            <img [src]="getSrcImg(item.name)" class="item-icon-img" />
          </div>
          <div class="item-name-div">
            <p class="item-name">{{ item.name }}</p>
          </div>

          <div class="item-minus-div-mob">
            <mat-icon
              matTooltip="Tap to increase count"
              (click)="increaseCount(item)"
              >add</mat-icon
            >
          </div>
          <div class="item-count-div-mob">
            <p class="item-count">{{ item.count }}</p>
          </div>
          <div class="item-minus-div-mob">
            <mat-icon
              matTooltip="Tap to decrease count"
              (click)="decreaseCount(item)"
              >remove</mat-icon
            >
          </div>
        </div>

        <div
          class="items-mob d-flex pt-2 add-more-items"
          [class.opaq]="focused"
        >
          <div class="item-icon-div px-2 text-center">
            <img [src]="getSrcImg(otherItem)" class="item-icon-img" />
          </div>
          <div
            class="item-name-div"
            matTooltip="Add other"
          >
            <input
              #otherItemDir
              (focus)="focused = true"
              (blur)="focused = false"
              maxlength="9"
              class="item-name item-name-input"
              placeholder="Add other"
              [(ngModel)]="otherItem"
              (keydown.enter)="addOtherItem(otherItem); otherItemDir.blur()"
            />
          </div>

          <div class="item-minus-div-mob">
            <mat-icon (click)="addOtherItem(otherItem); otherItemDir.blur()"
              >add</mat-icon
            >
          </div>
          <div class="item-count-div-mob px-1">
            <p class="item-count">0</p>
          </div>

          <div class="item-minus-div-mob">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col">
        <mat-label><strong>From Location*</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            matInput
            class="input-box input-location"
            placeholder="Search location"
            type="text"
            ngx-google-places-autocomplete
            [options]="{
              componentRestrictions: {
                country: 'IN'
              },
              fields: ['formatted_address', 'place_id']
            }"
            #placesRef="ngx-places"
            type="text"
            [class.verified]="formFields.fromLocation"
            (onAddressChange)="handleFromLocationChange($event)"
            [(ngModel)]="formFields.fromLocation"
            [class.error]="submitted && !formFields.fromLocation"
          />
          <mat-icon
            *ngIf="formFields.fromLocation"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row my-4" *ngIf="selectedService === 2">
      <div class="col">
        <mat-label><strong>To Location*</strong></mat-label>
        <mat-form-field class="form-field-custom" floatLabel="never">
          <input
            matInput
            class="input-box input-location"
            placeholder="Search location"
            ngx-google-places-autocomplete
            [options]="{
              componentRestrictions: {
                country: 'IN'
              },
              fields: ['formatted_address', 'place_id']
            }"
            #placesRef="ngx-places"
            type="text"
            [class.verified]="formFields.toLocation"
            (onAddressChange)="handleToLocationChange($event)"
            [(ngModel)]="formFields.toLocation"
            [class.error]="submitted && !formFields.toLocation"
          />
          <mat-icon
            *ngIf="formFields.toLocation"
            matSuffix
            class="verification-icon"
            >check_circle</mat-icon
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <button class="btn btn-submit-full" (click)="sendOtpToCustomer()">
          Send OTP
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="otpSent && !mobileVerified">
  <div class="col col-lg-11 col-md-11 col-sm-11">
    <div class="row mb-3 mt-5">
      <div class="col">
        <mat-form-field class="w-100 no-padding" floatLabel="never">
          <input
            class="input-box"
            placeholder="Enter otp here"
            type="tel"
            matInput
            maxlength="4"
            [class.verified]="otpEntered.length === 4 && !otpDidNotMatched"
            [(ngModel)]="otpEntered"
            [class.error]="otpDidNotMatched"
            (keypress)="isNumberKey($event)"
          />
          <mat-icon
            *ngIf="otpEntered.length === 4 || otpDidNotMatched"
            matSuffix
            class="verification-icon"
            [class.verification-close]="otpDidNotMatched"
            >{{ otpDidNotMatched ? "close" : "check_circle" }}</mat-icon
          >
        </mat-form-field>
        <mat-hint
          class="resend-btn d-flex mt-2 w-100 justify-content-between"
          (click)="resendOtp()"
        >
          <p class="error-text m-0 w-50">
            {{ otpDidNotMatched ? "Incorrect OTP" : "" }}
          </p>
          <p class="w-50 m-0 text-right">Didn't receive a code? Resend</p>
        </mat-hint>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <button class="btn btn-submit-full" (click)="verifyOtp()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="mobileVerified">
  <div class="col col-lg-11 col-md-11 col-sm-11 p-5 text-center">
    <img src="assets/images/thank-you.png" class="thank-you-img" />
    <h5 class="mt-4 thank-you-text">
      Thank you for contacting us. We shall reach you out soon.
    </h5>
  </div>
</div>
