.done-btn {
    background: brown;
    color: white;
}

.heading-text {
    margin: 0;
    font-size: 20px;
    color: brown;
    font-family:'Bree Serif', serif;
}

.contact-form {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




::ng-deep .mat-datepicker-toggle-default-icon {
    color: brown;
}


/* media query for mob */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .width-quarter, .email-full-width {
        width: -webkit-fill-available;
        font-size: 14px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .width-quarter, .email-full-width {
        width: -webkit-fill-available;
        font-size: 14px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .width-quarter, .email-full-width {
        width: -webkit-fill-available;
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .width-quarter {
        width:25%;
        font-size: inherit;
    }

    .email-full-width {
        width: 52%;
        font-size: inherit;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .width-quarter {
        width:25%;
        font-size: inherit;
    }
    
    .email-full-width {
        width: 52%;
        font-size: inherit;
    }
}

@media (min-width: 1370px) { 
   
    .width-quarter {
        width:25%;
        font-size: inherit;
    }
    .email-full-width {
        width: 52%;
        font-size: inherit;
    }
}