p {
    display: inline-block;
}

.buidling-row:hover{
    cursor: pointer;
}

.building-image{
    border-radius: 4px;
}

.pin-image{
    width:17px;
    height: 17px;
}

.rupee-image{
    width: 13px;
    height: 13px;
    vertical-align: inherit;
}

.building-links{
    font-size:15px;
    color:black !important
}

.building-links:hover{
    text-decoration: none;
    color:brown !important;
}

button:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.submit-button {
    background: brown;
    color:white;
}
.amenities-icon{
    width:18px;
    height: 18px;
    margin-right:10px;
}

.amenities-text{
    margin-right:8px;
}

.amenities-side-text {
    color: brown;
    font-size:18px;    
    font-family:'Bree Serif', serif;
    margin: 0;
}

.basic-amenities-row {
    height: 70px;
}


.footer-base{
    height: 100px;
    border-top: 2px solid brown;
}

.confirm-btn {
    background: brown;
    color: white;
}

.optional-text {
    color: chocolate;
    font-size:13px;
    font-style: italic;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: brown;
}
:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: brown;
}

::ng-deep .mat-slide-toggle {
    width: 180px !important;
}

.price-headings {
    color: brown;
    font-size:16px;    
    font-family:'Bree Serif', serif;
}

.price-data {
    color: chocolate;
    font-size:17px;    
    font-family:'Bree Serif', serif;
}

.terms-conditions {
    color: chocolate;
    font-size: 14px;
    font-family:'Bree Serif', serif;
}

.price-data-total {
    color: brown;
    font-size: 25px;
}

.building-name {
    color:brown;
}

.buidling-code {
    font-size: 14px;
    margin:0;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: brown;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: brown;
}

/* media query for mob */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .building-image{
        width: 100px;
        height: 100px;
    }

    .buidling-row{
        display: block;
        text-align: center;
    }

    .padding-3{
        padding-left:15px;
    }

    .view-row{
        display: block;
    }

    .submit-button{
        margin-top: 10px
    }

   .amenities-row {
       display: block;
   }

   .amenities-text{
       font-size: 10px;
   }

   .building-name {
       display: block;
       margin:0;
   }

   .buidling-code {
       display: block;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .building-image{
        width: 100px;
        height: 100px;
    }

    .buidling-row{
        display: block;
        text-align: center;
    }

    .padding-3{
        padding-left:15px;
    }

    .view-row{
        display: block;
    }

    .submit-button{
        margin-top: 10px
    }

    .amenities-row {
        display: block;
    }

    .amenities-text{
        font-size: 10px;
    }

    .building-name {
        display: block;
        margin:0;
    }

    .buidling-code {
        display: block;
        margin-left: 0px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .building-image{
        width: 120px;
        height: 120px;
    }

    .buidling-row{
        display: block;
        text-align: center;
    }

    .padding-3{
        padding-left:15px;
    }

    .view-row{
        display: block;
    }

    .submit-button{
        margin-top: 10px
    }

    .amenities-row {
        display: block;
    }

    .amenities-text{
        font-size: 10px;
    }

    .building-name {
        display: block;
    }

    .buidling-code {
        display: block;
        margin-left: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .building-image{
        width: 160px;
        height: 160px;
    }

    .buidling-row{
        display: flex;
        text-align: left;
    }

    .padding-3{
        padding-left:1rem;
    }

    .view-row{
        display: flex;
    }

    .submit-button{
        margin:0
    }

    .amenities-row {
        display: flex;
    }

    .amenities-text{
        font-size: 14px;
    }

    .building-name {
        display: inline-block;
    }

    .buidling-code {
        display: inline-block;
        margin-left: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .building-image{
        width: 160px;
        height: 160px;
    }

    .buidling-row{
        display: flex;
        text-align: left;
    }

    .padding-3{
        padding-left:1rem;
    }

    .view-row{
        display: flex;
    }

    .submit-button{
        margin:0
    }

    .amenities-row {
        display: flex;
    }

    .amenities-text{
        font-size: 14px;
    }

    .building-name {
        display: inline-block;
    }

    .buidling-code {
        display: inline-block;
        margin-left: 10px;
    }
}

@media (min-width: 1370px) { 
    .building-image{
        width: 160px;
        height: 160px;
    }

    .buidling-row{
        display: flex;
        text-align: left;
    }

    .padding-3{
        padding-left:1rem;
    }

    .view-row{
        display: flex;
    }

    .submit-button{
        margin:0
    }

    .amenities-row {
        display: flex;
    }

    .amenities-text{
        font-size: 14px;
    }

    .building-name {
        display: inline-block;
    }

    .buidling-code {
        display: inline-block;
        margin-left: 10px;
    }
}