.confirm-btn {
    background: chocolate;
    color: black;
}

.ok-btn {
    background: brown;
    color: white;
}

.error-heading {
    color: brown;
    font-family:'Bree Serif', serif;
}

.error-text {
    font-size: 16px;
    font-family:'Bree Serif', serif;
}