.section-six {
    height: 400px;
}

.contacts{
    border-left: 1px solid brown;
    height: 340px;
}

.story-header{
    margin: 0;
    font-family:'Bree Serif', serif;
    font-weight: bold;
    font-size: 45px;
    color:brown
}

.story-content{
    margin: 0;
    font-family:'Bree Serif', serif;
    font-size: 20px;
    text-align: justify;
    color:chocolate
}

.footer{
    border-top: 1px solid lightgray;
    height: 50px;
}

.copyright{
    font-size: 14px;
    margin: 0
}

.reach{
    margin: 1rem 0;
    font-family:'Bree Serif', serif;
    font-size: 20px;
}

.mail, .call{
    display: inline;
    color:brown
}

p.mail, p.call {
    vertical-align: super;
    color:chocolate
}

.social-media-icons {
    width:20px;
    height: 20px;
}

.social-media-icons-youtube {
    width:23px;
    height: 23px;
}


/* media query for mob */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .whatsapp {
       display: inherit;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .whatsapp {
        display: inherit;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .whatsapp {
        display: inherit;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .whatsapp {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .whatsapp {
        display: none;
    }
}

@media (min-width: 1370px) { 
    .whatsapp {
        display: none;
    }
}