<div class="row section-six justify-content-center align-items-center mt-3" id="section-six">
    <div class="col col-lg-11 col-md-11 col-sm-11">
        <div class="row">
            <div class="col col-lg-8 col-md-8 col-sm-8 story">
                <div class="row">
                    <div class="col col-lg-4 col-md-4 col-sm-4 text-center">
                        <p class="story-header">Our Story</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 pl-5 pr-5 pt-3">
                        <p class="story-content">"Blue Haven is a solution that has seen its inception to solve the commonly faced problem of the citizens in Bangalore – to be able to find a comfortable home without having to pay huge lump sum of money towards brokerage. Blue Haven emphasises strictly on the concept of ‘NON-BROKERAGE’. It only relies on the dealings between the client and the company’s and not a single penny is charged further. To facilitate a home-like ambience, Blue Haven allows customisation of the home space with lavish furnishing and decor. The homes and the flats provide a safe, secure and an enriching experience. Special facilities such as hard water filter, CCTV surveillance and power backup are also provided. And all of this at affordable pricing!"</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 align-self-center contacts my-3">
                <div class="row">
                    <div class="col pl-5 mt-5">
                        <p class="reach">You can reach us at:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-1">
                        <i class="material-icons mail">email</i>
                        <p class="mail"> thebluehaven@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-1">
                        <i class="material-icons call">call</i>
                        <p class="call"> 636-693-6633, 974-156-6500 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-3">
                        <p class="reach">Stay connected with us:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 footer pl-5 pt-2">
                <p class="copyright">&copy; Copyright 2019, Bluehaven</p>
            </div>
        </div>
    </div>
</div>