<div class="row section-six justify-content-center align-items-center mt-3" id="section-six">
    <div class="col col-lg-11 col-md-11 col-sm-11">
        <div class="row">
            <div class="col col-lg-8 col-md-8 col-sm-8 story">
                <div class="row">
                    <div class="col col-lg-4 col-md-4 col-sm-4 text-center">
                        <p class="story-header">Our Story</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 pl-5 pr-5 pt-3">
                        <p class="story-content">"Dividers can be added to lists as a means of separating content into
                            distinct
                            sections. Inset dividers can also be added to provide the appearance of distinct elements in
                            a list
                            without
                            cluttering content like avatar images or icons. Make sure to avoid adding an inset divider
                            to the
                            last element in a list, because it will overlap with the section divider. Dividers can be
                            added to lists as a means of separating content into distinct
                            sections. Inset dividers can also be added to provide the appearance of distinct elements in
                            a list
                            without
                            cluttering content like avatar images or icons. Make sure to avoid adding an inset divider
                            to the
                            last element in a list, because it will overlap with the section divider."</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 align-self-center contacts my-3">
                <div class="row">
                    <div class="col pl-5 mt-5">
                        <p class="reach">You can reach us at:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-1">
                        <i class="material-icons mail">email</i>
                        <p class="mail"> thebluehaven@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-1">
                        <i class="material-icons call">call</i>
                        <p class="call"> 636-693-6633, 974-156-6500 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-3">
                        <p class="reach">Stay connected with us:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-5 mt-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 footer pl-5 pt-2">
                <p class="copyright">&copy; Copyright 2019, Bluehaven</p>
            </div>
        </div>
    </div>
</div>