.confirm-btn {
    background: chocolate;
    color: black;
}

.ok-btn {
    background: brown;
    color: white;
}

.thankyou-heading {
    color: brown;
    font-family:'Bree Serif', serif;
}

.thankyou-text {
    font-size: 16px;
    font-family:'Bree Serif', serif;
}

.name-text {
    margin:0;
    display: inline;
    color: chocolate;
}