.section-three {
    background:#f3f3f3;
}

.building-col{
    height: 650px;
    font-family:'Bree Serif', serif;
    border-right: 1px solid rgba(0,0,0,.12);  
    cursor: pointer;
    transition: all 1s;
}

.carousel-inner{
    padding: 5rem 0 0 0;
}

.building-col:hover{
    background: lightgray;
    box-shadow: 0 15px 10px #777;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    transform: scale(1.15);
    z-index: 2;
}

.transform{
    transform: rotate(90deg)
}

.building-col:first-child, .building-col:last-child{
    border-left: 1px solid rgba(0,0,0,.12);  
}

.building-div{
    height: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width:50px !important;
    height: 50px !important;
}

.carousel-control-prev, .carousel-control-next{
    background:lightgray;
    opacity: 0.3;
}

.available {
    position: absolute; 
    top:50px;
    left:0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    width: 75%;
    background:	#732424;
    padding: 5px 20px;
    color:white;
    font-family:'Bree Serif', serif;
    text-align: right;
}


.building-image{
    width: 75%;
    height: 220px;
    border-radius: 5px;
}

.rupee-image{
    width: 13px;
    height: 13px;
    vertical-align: inherit;
}


@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* media query for mob */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   

    a.carousel-control-prev, a.carousel-control-next{
        display: none;
    }

    .section-three {
        height: 700px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    a.carousel-control-prev, a.carousel-control-next{
        display: none;
    }

    .section-three {
        height: 800px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a.carousel-control-prev, a.carousel-control-next{
        display: none;
    }

    .section-three {
        height: 900px;
    }
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    a.carousel-control-prev, a.carousel-control-next{
        display: flex;
        z-index:3;
    }

    .section-three {
        height: 1000px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    a.carousel-control-prev, a.carousel-control-next{
        display: flex;
        z-index:3;
    }

    .section-three {
        height: 1000px;
    }
   
}

@media (min-width: 1370px) { 
    a.carousel-control-prev, a.carousel-control-next{
        display: flex;
        z-index:3;
    }

    .section-three {
        height: 1000px;
    }
}